In [2]:
import pandas as pd

In [5]:
data = pd.read_csv("jan_2019.csv",header=0,encoding="ANSI")

In [7]:
data.head()

,RejseMaaned,RejseUge,StartStopPointNr,SlutStopPointNr,StartSite,SlutSite,NyUdførende,ModalKomb,SUM_of_Personrejser
0,2019M01,201901,2,1845,Engelsborgvej,Nybrogård,Movia_H,Bus,1.0
1,2019M01,201901,2,1847,Engelsborgvej,Sophienholm,Movia_H,Bus,1.0
2,2019M01,201901,2,1899,Engelsborgvej,Skolebakken,Movia_H,Bus,1.0
3,2019M01,201901,2,2196,Engelsborgvej,Egebjerg Plejehjem,Movia_H,Bus,2.0
4,2019M01,201901,2,2693,Engelsborgvej,Vibenshus Runddel,Movia_H,Bus,1.0

In [11]:
data["SUM_of_Personrejser"].max()

999.0

In [21]:
mask = data["SUM_of_Personrejser"] > 500

In [22]:
data[mask].shape

(1149, 9)

In [28]:
mask999 = data["SUM_of_Personrejser"] > 998

In [29]:
data[mask999]

,RejseMaaned,RejseUge,StartStopPointNr,SlutStopPointNr,StartSite,SlutSite,NyUdførende,ModalKomb,SUM_of_Personrejser
1393906,2019M01,201903,8603313,8603307,Bella Center St.,Nørreport St.,Metro,Tog,999.0
2477438,2019M01,201905,8603308,8603304,Kongens Nytorv St.,Fasanvej St.,Metro,Tog,999.0

In [31]:
mask2 = (data["StartStopPointNr"] == 8603313) & (data["SlutStopPointNr"] == 8603307)

In [32]:
data[mask2]

,RejseMaaned,RejseUge,StartStopPointNr,SlutStopPointNr,StartSite,SlutSite,NyUdførende,ModalKomb,SUM_of_Personrejser
290249,2019M01,201901,8603313,8603307,Bella Center St.,Nørreport St.,Metro,Tog,700.0
810448,2019M01,201902,8603313,8603307,Bella Center St.,Nørreport St.,Metro,Tog,909.0
810449,2019M01,201902,8603313,8603307,Bella Center St.,Nørreport St.,Movia_H+Metro,Tog+Bus,1.0
1393906,2019M01,201903,8603313,8603307,Bella Center St.,Nørreport St.,Metro,Tog,999.0
1393907,2019M01,201903,8603313,8603307,Bella Center St.,Nørreport St.,Movia_H+Metro,Tog+Bus,1.0
1984471,2019M01,201904,8603313,8603307,Bella Center St.,Nørreport St.,First+Metro,Tog,1.0
1984472,2019M01,201904,8603313,8603307,Bella Center St.,Nørreport St.,Metro,Tog,968.0
1984473,2019M01,201904,8603313,8603307,Bella Center St.,Nørreport St.,Movia_H+Metro,Tog+Bus,2.0
2480810,2019M01,201905,8603313,8603307,Bella Center St.,Nørreport St.,Metro,Tog,749.0

In [34]:
len(data["StartStopPointNr"].unique())

30735

In [37]:
len(data["SlutSite"].unique())

19505